
@{
    ViewData["Title"] = "Login";
}
<div>
    <h2>Escolha o tipo da conta</h2>
    <ul>
        <li><a asp-action="LoginCliente" asp-controller="Home">Cliente </a></li>
        <li><a asp-action="LoginColaborador" asp-controller="Home">Colaborador</a></li>
    </ul>
    
</div>