
@{
    ViewData["Title"] = "Painel";
}
<h1>Painel Colaborador Gerente</h1>

<p>Informações de Usuário</p>
<p>Você é um gerente da loja</p>

Seja bem-vindo, <span>Nome: @ViewBag.Nome</span>
<p>Tipo: @ViewBag.Tipo</p>
<p>Email: @ViewBag.Email</p>

<br/>

